# airflow secrets template file
apiVersion: v1
kind: Secret
metadata:
  name: <<AIRFLOW_SECRETS_NAME>>
type: Opaque
data:
  # web ui
  airflow__admin: "<<AIRFLOW__ADMIN>>"
  airflow__admin_password: "<<AIRFLOW__ADMIN_PASSWORD>>"

  # internal db connection to airflow meta database @airflow-postgres/airflow
  airflow__db_user: "<<AIRFLOW__DB_USER>>"
  airflow__db_password: "<<AIRFLOW__DB_PASSWORD>>"
  airflow__core__sql_alchemy_conn: "<<AIRFLOW__CORE__SQL_ALCHEMY_CONN>>"
