## Simple configuration file to set projects list to package and distribution jar targets

[projects]
# zd-gcp-analytic-data-model/zerodawn-data-model
# zd-gcp-analytic-utilities/zerodawn-utilities
zd-job-url-summary
# zd-gcp-analytic-risk_score
# zd-gcp-jobscheduling
# zd-job-depth-load/pg-loader
# zd-gcp-listing-domains
# zd-gcp-url-count-cache
zerodawn-analytics/url_coverage/output-export

[distribute_targets]
zd-job-depth-load/pg-loader
zd-gcp-listing-domains
# zd-gcp-url-count-cache
